body {
  background-color: #302834;
  color: white;
  font-family: Cambria;
  font-weight: bolder;
  letter-spacing: 1px;
}

body * {
  box-sizing: border-box;
}


@media only screen and (max-width: 576px) {
  .input-result-boxes div,textarea{
    padding: 5px !important;
  }
  .help-button-wrapper {
    padding: 5px !important;
  }
}

